<div>
    <div class="container-fluid">
      <div>
        <!------------DATE-------------->
        <div class="row">
          <div class="col-md-12">
            <button mat-button class="btn btn-success" style="float: right;padding: 8px;">
              <i class="material-icons" style="font-size: 23px" (click)="prev()">navigate_before</i>
              <input [hidden]="true" matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)"
                [min]="minDate" [max]="maxDate" (dateChange)="addEvent('change', $event)" />
              <mat-datepicker touchUi #picker></mat-datepicker>
  
              <span (click)="picker.open()">
                {{ today | date }}
              </span>
  
              <i class="material-icons" *ngIf="this.isButtonVisible" (click)="next()"
                style="font-size: 23px">navigate_next</i>
            </button>
          </div>
  
        </div>


        <!-------------------------------->
        <div class="row">
            <div class="col-lg-12 ">
              <div class="card">
                <!-- <div class="card-body">  -->
                <div>
                  <div class="card-header card-header-danger" style="padding: 10px;">
                    <h4 class="card-title">Asset Management</h4>
                  </div>
      
                  <div class="row" style=" margin: 0px;">
                    <div class="col-md-12">
                        <button mat-button class="btn btn-success" style="float: right;padding: 8px;"
                        (click)="openDialog('add',{},list)"  matTooltip="Add" [matTooltipPosition]="'below'">
                            <i class="material-icons" style="font-size: 23px">add</i>
                            Add Assets
                        </button>
                      </div>
                  </div>
                </div>
                <!-- </div> -->
      
              </div>
            </div>
          </div>
      </div>
  
      
  </div>