<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left" style="margin-top: 16px;">
            <ul>
                <li>
                    <!-- <img src="assets/img/DASH LOGOS 190X80 Sensez9-01.png" style="height: 35px;"> -->

                    <!-- <a href="">
                        Gaia
                    </a> -->
                </li>
               
            </ul>
        </nav>
        <div class="copyright pull-right">
            <!-- <img src="assets/img/gaia_latest.png" style="height: 35px;"> -->

        </div>
    </div>
</footer>