<div class="container-fluid">
    <!-- <mat-dialog-actions align="end">
        <button mat-mini-fab mat-dialog-close style="float: right; margin-bottom: 15px;">
      <mat-icon>close</mat-icon>
    </button>
    </mat-dialog-actions> -->
    <mat-card-header >
        <h3 style="text-align: center;">Cancel Appointment : {{ appointmentListById.client_name }} : {{ appointmentListById.tax_type_name }} 
            <br>
             {{ appointmentListById.appointment_date }} 
            {{ appointmentListById.appointment_start_time  }} - {{ appointmentListById.appointment_end_time }}
        <br> 
    </h3>
        <!-- <mat-card-title>{{ moduleTitle }}</mat-card-title> -->
    </mat-card-header>

    <mat-dialog-content class="mat-typography">
        <div class="container-fluid">
            <form [formGroup]="appointmentFormGroup" autocomplete="false">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;margin-top: 10px;">Are you sure you want to cancel the appointment ?</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="standard">
                                    <mat-label> Comments </mat-label>
                                    <textarea matInput name="comments" formControlName="comments" placeholder="Comments" ></textarea>
                                    <mat-error *ngIf="hasError('comments', 'required')">Comments</mat-error>
                                </mat-form-field>
                            </div>
                         
                        </div>
                    </div>
                 
                </div>

                <div class="row" style="align-content: center">
                    <div class="col-md-6 text-center" style="display: grid">
                        <button type="submit" class="btn btn-primary" [disabled]="!appointmentFormGroup.valid" (click)="deleteAppointment()">
              Yes
            </button>
                    </div>

                    <div class="col-md-6" style="display: grid">
                        <button
                          class="btn btn-primary"
                          mat-button
                          mat-dialog-close
                        >
                          No
                        </button>
                      </div>
                   
                </div>
            </form>
          
        </div>
    </mat-dialog-content>
</div>