<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
        <div>
            <ng-container *ngIf="dialog_title == 'Error'">
                <h4 style="
            text-align: center;
            font-size: 22px;
            font-weight: 700;
            color: #91040b !important;
          ">
                    {{ dialog_title }}
                </h4>
            </ng-container>
            <ng-container *ngIf="dialog_title != 'Error'">
                <h4 style="
            text-align: center;
            font-size: 22px;
            font-weight: 700;
            color: #045391 !important;
          ">
                    {{ dialog_title }}
                </h4>
            </ng-container>
            <h4 style="
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          color: #045391 !important;
        ">
                {{ dialog_message }}
            </h4>
        </div>
        <ng-container *ngIf="is_form_data">
            <form action="" [formGroup]="addFormGroup" autocomplete="false">
                <ng-container *ngFor="let field of form_object_list">
                    <ng-container *ngIf="field.field_input_type === 'textarea'">
                        <custom-input field_label="{{ field.field_label }}" field_name="{{ field.field_input_key }}" formControlName="{{ field.field_input_key }}" placeholder="{{ field.field_label }}" type="textarea">
                        </custom-input>
                        <mat-error *ngIf="hasError(field.field_input_key, 'required')">{{ field.field_label }} is required</mat-error>
                    </ng-container>
                </ng-container>
            </form>
        </ng-container>

        <div class="row" style="margin: 0 auto">
            <div class="col-md-12 text-center" style="margin: 0 auto">
                <div style="margin-top: 25px">
                    <button class="btn" style="
              background-color: #045391;

              color: white;
              padding: 10px;
              border: none;
              width: 100px;
              font-size: 20px;
            " data-dismiss="modal" class="cancel-btn" [mat-dialog-close]="true" (click)="stayOnThePage()">
            OK
          </button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>