<ng-template #arrow_view>
    <mat-button-toggle-group (change)="taxData.sortBy({ order: $event.value })" class="remove-white">
        <mat-button-toggle value="asc" matTooltip="Ascending" matTooltipPosition="right" style="width: 34px; border: 0px">
            <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="desc" matTooltip="Descending" matTooltipPosition="left" style="width: 34px; border: 0px" class="remove-white">
            <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</ng-template>
<div>
    <div class="container-fluid">
        <block-ui [template]="blockTemplate">
            <div>
                <!------------DATE-------------->
                <!-- <div class="row">
          <div class="col-md-12">
            <button mat-button class="btn btn-success" style="float: right;padding: 8px;">
              <i class="material-icons" style="font-size: 23px" (click)="prev()">navigate_before</i>
              <input [hidden]="true" matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)"
                [min]="minDate" [max]="maxDate" (dateChange)="addEvent('change', $event)" />
              <mat-datepicker touchUi #picker></mat-datepicker>
  
              <span (click)="picker.open()">
                {{ today | date }}
              </span>
  
              <i class="material-icons" *ngIf="this.isButtonVisible" (click)="next()"
                style="font-size: 23px">navigate_next</i>
            </button>
          </div>
  
        </div> -->
                <!-------------------------------->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <!-- <div class="card-body">  -->
                            <div>
                                <div class="card-header card-header-danger" style="padding: 10px">
                                    <h4 class="card-title" *ngIf="!isAdmin">
                                        Preparer List : {{ allTaxResp.length }}
                                        <button mat-button class="btn btn-success" matTooltip="Download Report" [matTooltipPosition]="'below'" (click)="results()" style="float: right; padding: 3px 10px 2px 10px">
                      <i class="material-icons">cloud_download</i>
                    </button>
                                    </h4>

                                    <h4 class="card-title" *ngIf="isAdmin">
                                        Preparer List : {{ allTaxResp != undefined ? allTaxResp.length : "0" }} | New Pending Approval : {{ allTaxResp != undefined ? allTaxResp[0].new_pending_count : "0" }}

                                        <button mat-button class="btn btn-success" matTooltip="Download Report" [matTooltipPosition]="'below'" (click)="results()" style="float: right; padding: 3px 10px 2px 10px">
                      <i class="material-icons">cloud_download</i>
                    </button>
                                    </h4>
                                </div>
                                <!--------------table-------------------->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field class="search">
                                                <mat-icon matPrefix>search</mat-icon>
                                                <input #in (input)="taxData.queryBy({ search: in.value })" type="text" matInput placeholder="Search" />
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-2">
                                            <button mat-button class="btn btn-success" style="float: right; padding: 10px" matTooltip="Download Blank Template " [matTooltipPosition]="'below'">
                        <a
                          href="http://52.183.131.20/Sensez9Appointments/TaxPreparerExcelTemplate/TestData.xlsx"
                          download="Download_Preparer_Template.csv"
                          target="_self"
                          style="color: white"
                        >
                          <i class="material-icons" style="font-size: 23px"
                            >cloud_download</i
                          >
                          Blank Template
                        </a>
                      </button>
                                        </div>
                                        <div class="col-md-2">
                                            <button mat-button class="btn btn-success" style="float: right; padding: 10px 17px" matTooltip="Dowload Live Template " [matTooltipPosition]="'below'" (click)="downloadUploadedTaxSchedular()">
                        <i
                          class="material-icons"
                          style="font-size: 23px; margin-right: 7px"
                          >cloud_download</i
                        >Live Template
                      </button>
                                        </div>

                                        <div class="col-md-2">
                                            <input type="file" #blockMessage accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file" id="file" (change)="onFileSelected($event)" #file hidden />
                                            <button mat-button class="btn btn-success" style="float: right; padding: 10px 17px" (click)="file.click()" matTooltip="Upload Template" [matTooltipPosition]="'below'">
                        <i class="material-icons" style="font-size: 23px"
                          >cloud_upload</i
                        >
                        Upload Template
                      </button>
                                        </div>

                                        <div class="col-md-2">
                                            <button mat-button class="btn btn-success" style="float: right; padding: 10px" [routerLink]="['/addupdateTaxPreparer']" matTooltip="Add Tax Preparer" [matTooltipPosition]="'below'">
                        <i class="material-icons" style="font-size: 23px"
                          >add</i
                        >
                        Add Preparer
                      </button>
                                        </div>
                                    </div>
                                    <!--If not admin-->
                                    <div *ngIf="!isAdmin">
                                        <mat-spinner *ngIf="taxData.loading$ | async" diameter="32" style="align-self: center"></mat-spinner>
                                        <div class="example-container mat-elevation-z8" *ngIf="taxData">
                                            <table mat-table [dataSource]="taxData" class="table table-striped">
                                                <ng-container matColumnDef="sr_no">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader" style="padding: 2px">
                                                        Sr No.
                                                    </th>
                                                    <td mat-cell *matCellDef="let element; let i = index" class="tableBody" style="padding: 2px">
                                                        {{ i + 1 }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="preparer_name">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Name
                                                        <span (click)="
                                taxData.sortBy({
                                  property: 'preparer_name'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        {{ element.preparer_name }}
                                                    </td>
                                                </ng-container>

                                                <!-- <ng-container matColumnDef="preparer_contactno">
                        <th mat-header-cell *matHeaderCellDef class="tableHeader">
                          Contact No
                          <span (click)="
                              taxData.sortBy({
                                property: 'preparer_contactno'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="tableBody">
                          {{ element.preparer_contactno }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="preparer_email">
                        <th mat-header-cell *matHeaderCellDef class="tableHeader">
                          Email
                          <span (click)="
                              taxData.sortBy({
                                property: 'preparer_email'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="tableBody">
                          {{ element.preparer_email }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="preparer_zipcode">
                        <th mat-header-cell *matHeaderCellDef class="tableHeader">
                          ZipCode
                          <span (click)="
                              taxData.sortBy({
                                property: 'preparer_zipcode'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="tableBody">
                          {{ element.preparer_zipcode }}
                        </td>
                      </ng-container> -->

                                                <ng-container matColumnDef="site">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Site
                                                        <span (click)="
                                taxData.sortBy({
                                  property: 'site'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        {{ element.site }}
                                                        <!-- <ng-container *ngFor="let rule of element.sites">
                            {{ rule.site_name}},
                        </ng-container> -->
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="military">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Military
                                                        <span (click)="
                                taxData.supportedTaxTypes.sortBy({
                                  property: 'military'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        <span *ngIf="element.supportedTaxTypes.military == 1">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -60px"
                                >task_alt</i
                              >
                            </span>
                                                        <span *ngIf="element.supportedTaxTypes.military == 0">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -66px"
                                >highlight_off</i
                              >
                            </span>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="spanish">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Spanish
                                                        <span (click)="
                                taxData.supportedTaxTypes.sortBy({
                                  property: 'spanish'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        <span *ngIf="element.supportedTaxTypes.spanish == 1">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -60px"
                                >task_alt</i
                              >
                            </span>
                                                        <span *ngIf="element.supportedTaxTypes.spanish == 0">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -66px"
                                >highlight_off</i
                              >
                            </span>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="international">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        International
                                                        <span (click)="
                                taxData.supportedTaxTypes.sortBy({
                                  property: 'international'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        <span *ngIf="
                                element.supportedTaxTypes.international == 1
                              ">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -60px"
                                >task_alt</i
                              >
                            </span>
                                                        <span *ngIf="
                                element.supportedTaxTypes.international == 0
                              ">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -66px"
                                >highlight_off</i
                              >
                            </span>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="created_date">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Added On
                                                        <span (click)="
                                taxData.sortBy({
                                  property: 'created_date'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        {{ element.created_date }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="approve" sticky>
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Approve
                                                        <span (click)="
                                taxData.sortBy({
                                  property: 'status'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        <a>
                                                            <button *ngIf="element.status == 0" type="submit" class="btn btn-primary" style="padding: 6px" matTooltip="Approve" [matTooltipPosition]="'below'">
                                Awaiting for approval
                              </button>

                                                            <span class="material-icons" style="color: darkcyan" *ngIf="element.status == 1">
                                task_alt
                              </span>
                                                        </a>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="action" stickyEnd>
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Action
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="action-link tableBody">
                                                        <a (click)="updateTax(element)" matTooltip="Edit" [matTooltipPosition]="'below'">
                                                            <span class="material-icons" style="color: darkcyan">
                                edit
                              </span>
                                                        </a>
                                                        <a data-toggle="modal" data-target="#openModal" (click)="openModal(element.preparer_id)" matTooltip="Delete" [matTooltipPosition]="'below'">
                                                            <span class="material-icons" style="color: brown">
                                delete
                              </span>
                                                        </a>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                            </table>

                                            <mat-paginator *ngIf="taxData.page$ | async as page" [length]="page.totalElements" [pageSize]="page.size" [pageIndex]="page.number" [hidePageSize]="false" (page)="taxData.fetch($event.pageIndex)">
                                            </mat-paginator>
                                        </div>
                                    </div>

                                    <div *ngIf="isAdmin">
                                        <mat-spinner *ngIf="taxData.loading$ | async" diameter="32" style="align-self: center"></mat-spinner>
                                        <div class="example-container mat-elevation-z8" *ngIf="taxData">
                                            <table mat-table [dataSource]="taxData" class="table table-striped">
                                                <ng-container matColumnDef="sr_no">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader" style="padding: 2px">
                                                        Sr No.
                                                    </th>
                                                    <td mat-cell *matCellDef="let element; let i = index" class="tableBody" style="padding: 2px">
                                                        {{ i + 1 }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="preparer_name">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Name
                                                        <span (click)="
                                taxData.sortBy({
                                  property: 'preparer_name'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        {{ element.preparer_name }}
                                                    </td>
                                                </ng-container>

                                                <!-- <ng-container matColumnDef="preparer_contactno">
                        <th mat-header-cell *matHeaderCellDef class="tableHeader">
                          Contact No
                          <span (click)="
                              taxData.sortBy({
                                property: 'preparer_contactno'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="tableBody">
                          {{ element.preparer_contactno }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="preparer_email">
                        <th mat-header-cell *matHeaderCellDef class="tableHeader">
                          Email
                          <span (click)="
                              taxData.sortBy({
                                property: 'preparer_email'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="tableBody">
                          {{ element.preparer_email }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="preparer_zipcode">
                        <th mat-header-cell *matHeaderCellDef class="tableHeader">
                          ZipCode
                          <span (click)="
                              taxData.sortBy({
                                property: 'preparer_zipcode'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="tableBody">
                          {{ element.preparer_zipcode }}
                        </td>
                      </ng-container> -->

                                                <ng-container matColumnDef="site">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Site
                                                        <span (click)="
                                taxData.sortBy({
                                  property: 'site'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        {{ element.site }}
                                                        <!-- <ng-container *ngFor="let rule of element.sites">
                            {{ rule.site_name}},
                        </ng-container> -->
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="military">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Military
                                                        <span (click)="
                                taxData.supportedTaxTypes.sortBy({
                                  property: 'military'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        <span *ngIf="element.supportedTaxTypes.military == 1">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -60px"
                                >task_alt</i
                              >
                            </span>
                                                        <span *ngIf="element.supportedTaxTypes.military == 0">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -66px"
                                >highlight_off</i
                              >
                            </span>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="spanish">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Spanish
                                                        <span (click)="
                                taxData.supportedTaxTypes.sortBy({
                                  property: 'spanish'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        <span *ngIf="element.supportedTaxTypes.spanish == 1">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -60px"
                                >task_alt</i
                              >
                            </span>
                                                        <span *ngIf="element.supportedTaxTypes.spanish == 0">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -66px"
                                >highlight_off</i
                              >
                            </span>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="international">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        International
                                                        <span (click)="
                                taxData.supportedTaxTypes.sortBy({
                                  property: 'international'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        <span *ngIf="
                                element.supportedTaxTypes.international == 1
                              ">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -60px"
                                >task_alt</i
                              >
                            </span>
                                                        <span *ngIf="
                                element.supportedTaxTypes.international == 0
                              ">
                              <i
                                class="material-icons"
                                style="font-size: 23px; margin-left: -66px"
                                >highlight_off</i
                              >
                            </span>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="created_date">
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Added On
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        {{ element.created_date }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="approve" sticky>
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Approve
                                                        <span (click)="
                                taxData.sortBy({
                                  property: 'status'
                                })
                              ">
                              <ng-container *ngTemplateOutlet="arrow_view">
                              </ng-container>
                            </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="tableBody">
                                                        <a>
                                                            <button *ngIf="element.status == 0" type="submit" class="btn btn-primary" (click)="approve(element)" matTooltip="Approve" [matTooltipPosition]="'below'">
                                Approve
                              </button>

                                                            <span class="material-icons" style="color: darkcyan" *ngIf="element.status == 1">
                                task_alt
                              </span>
                                                        </a>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="action" stickyEnd>
                                                    <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                        Action
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="action-link tableBody">
                                                        <a (click)="updateTax(element)" matTooltip="Edit" [matTooltipPosition]="'below'">
                                                            <span class="material-icons" style="color: darkcyan">
                                edit
                              </span>
                                                        </a>
                                                        <a data-toggle="modal" data-target="#openModal" (click)="openModal(element.preparer_id)" matTooltip="Delete" [matTooltipPosition]="'below'">
                                                            <span class="material-icons" style="color: brown">
                                delete
                              </span>
                                                        </a>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="this.displayedColumns1"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
                                            </table>

                                            <mat-paginator *ngIf="taxData.page$ | async as page" [length]="page.totalElements" [pageSize]="page.size" [pageIndex]="page.number" [hidePageSize]="false" (page)="taxData.fetch($event.pageIndex)">
                                            </mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </block-ui>
    </div>

    <!--------------modal--------------------------->
    <div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" style="display: none" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="padding: 35px">
                <h4 style="margin: 0 auto; font-size: 18px; text-align: center">
                    Do you want to Delete it ?
                </h4>
                <div style="padding: 9px"></div>
                <div class="form-group" style="margin: 0 auto">
                    <div style="margin-top: 25px">
                        <button mat-raised-button type="submit" class="btn btn-success pull-center cancel-btn" data-dismiss="modal" (click)="deleteTax()">
              Yes
            </button>
                        <button mat-raised-button type="submit" data-dismiss="modal" class="btn btn-danger pull-center cancel-btn">
              No
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>