<!-- style="margin-top: 50px;" -->
<div class="login-wrap" >
	<div class="" style="color: #fff;">
	<div style="text-align: center;color: #64c8cc">
        <!-- <span style="font-size:3.25rem;font-weight:400;text-decoration: underline;">INSIGHT</span> -->
</div>
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-md-12" style="text-align: center;">
        <img src="assets/img/PA211-UnitedWay-Logo (1).png" class="logo1">
        </div>
</div>
		<!-- <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label> -->
		<div class="login-form">
			<div class="">
                <div class="col-md-12">
                    <div class="card">
                       <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                          <div class="card-header card-header-danger card-header-icon">
                             <div class="card-icon"><i class="material-icons">contacts</i></div>
                             <h4 class="card-title" style="background: #fff !important;"></h4>
                          </div>
                          <div class="card-body">
                             
                        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="false">
                            <mat-card-content>
                                <div class="form-group clearfix" [ngClass]="{ 'has-error': f.submitted && f.userid.errors }">
                 
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="email" placeholder="Email/Contact No" name="email" type="text" class="form-control">
                                        <div *ngIf="f.submitted && f.email.errors" class="help-block">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="password" placeholder="Password" name="password" type="password" class="form-control" #passwordField>
                                    <span (click)="passwordField.type=passwordField.type=='password'?'text':'password'" 
                                        class="fa fa-fw field-icon toggle-password"
                                        [ngClass]="(passwordField.type=='password')?' fa-eye':' fa-eye-slash'">
                                    </span>
                                    <div *ngIf="f.submitted && f.password.errors" class="help-block">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </mat-form-field>
                                <!-- <div class="example-full-width">
                                    <span (click)="forgetPassword()" style="cursor: pointer;color: #3f51b5; ">Forgot password?</span>
                                    
                                </div> -->
                            </mat-card-content>
                            <!-- <button mat-stroked-button color="accent" class="btn-block">Log in</button> -->
                            <div class="form-group">
                                <button mat-raised-button="" type="submit" style="background: #64c8cc !important;" class="btn btn-danger btn-fill btn-wd mat-raised-button mat-button-base">
                                   <span class="mat-button-wrapper">Login</span>
                                   <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                   <div class="mat-button-focus-overlay"></div>
                                </button>
                                <!-- <button mat-raised-button="" (click)="signUp()" style="background: #64c8cc !important; float: right;" class="btn btn-danger btn-fill btn-wd mat-raised-button mat-button-base">
                                    <span class="mat-button-wrapper">Sign Up</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                 </button> -->
                            </div>
                        </form>
                          </div>
                          <div class="card-footer text-right">
                             <!-- <div class="form-group">
                                <button mat-raised-button="" type="submit" class="btn btn-rose btn-fill btn-wd mat-raised-button mat-button-base">
                                   <span class="mat-button-wrapper">Login</span>
                                   <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                   <div class="mat-button-focus-overlay"></div>
                                </button>
                             </div> -->
                          </div>
                       </form>
                    </div>
                 </div>
                
				
				<div class="foot-lnk">
                   <div class="col-md-12">
                    <img src="assets/img/gaia_latest.png" class="gaiaLogoStyle" style="float: left; height: 40px;"> 
                    <img src="assets/img/Smart Insight 190x180-01.png" class="gaiaLogoStyle" style="float: right; height: 62px;
                    margin-top: -8px;"> 

                </div>

                    <!-- <img src="assets/img/ga1.png" class="gaiaLogoStyle">  -->
				</div>
			</div>
			
		</div>
	</div>
</div>



<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box" style="margin-top: 150px;">
        <img mat-card-image src="assets/img/Sensez9 Logo Reverse Black-01.png" alt="Photo of a Shiba Inu">
        <mat-card-header>

            <mat-card-title>Log in</mat-card-title>


        </mat-card-header>

        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="false">
            <mat-card-content>
                <div class="form-group clearfix" [ngClass]="{ 'has-error': f.submitted && f.userid.errors }">

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="username" placeholder="Username" name="username" type="text" class="form-control">
                        <div *ngIf="f.submitted && f.username.errors" class="help-block">
                            <div *ngIf="f.username.errors.required">Userid is required</div>
                        </div>
                    </mat-form-field>
                </div>

                <mat-form-field class="example-full-width">
                    <input matInput formControlName="password" placeholder="Password" name="password" type="password" class="form-control">
                    <div *ngIf="f.submitted && f.password.errors" class="help-block">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button>
        </form>
    </mat-card>

</div> -->


<!-- 
<div class="sidenav">
    <div class="login-main-text">
       <h2>INSIGHT<br> Login Page</h2>
       <p>Enabling business flexibility</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
        

          <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="false">
            <mat-card-content>
                <div class="form-group clearfix" [ngClass]="{ 'has-error': f.submitted && f.userid.errors }">

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="username" placeholder="Username" name="username" type="text" class="form-control">
                        <div *ngIf="f.submitted && f.username.errors" class="help-block">
                            <div *ngIf="f.username.errors.required">Userid is required</div>
                        </div>
                    </mat-form-field>
                </div>

                <mat-form-field class="example-full-width">
                    <input matInput formControlName="password" placeholder="Password" name="password" type="password" class="form-control">
                    <div *ngIf="f.submitted && f.password.errors" class="help-block">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button>
        </form>
       </div>
    </div>
 </div>


 <div class="login-wrap">
	<div class="login-html" style="color: #fff;">
	<div style="text-align: center;color: #fff;">
        <h2>INSIGHT</h2>
</div>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">

                
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="false">
            <mat-card-content>
                <div class="form-group clearfix" [ngClass]="{ 'has-error': f.submitted && f.userid.errors }">
 
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="username" placeholder="Username" name="username" type="text" class="form-control">
                        <div *ngIf="f.submitted && f.username.errors" class="help-block">
                            <div *ngIf="f.username.errors.required">Userid is required</div>
                        </div>
                    </mat-form-field>
                </div>
            
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="password" placeholder="Password" name="password" type="password" class="form-control">
                    <div *ngIf="f.submitted && f.password.errors" class="help-block">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button>
        </form>
				
				<div class="foot-lnk">
                   
                    
				</div>
			</div>
			
		</div>
	</div>
</div>









-->