<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <button  [mat-dialog-close]="true" style="
            float: right;background-color: transparent; border: none;">
                <span class="material-icons" style="color: #f44336;">
                    cancel
                    </span>
            </button>
          <div class="card" style=" margin-top: 65px;">
            <div class="card-header card-header-danger">
              <h4 class="card-title">
                  {{dashboardTable.device_name}} : {{dashboardTable.locations}} : {{selectedMonth }}  : Total Outages : {{dashboardTable.total_outrages}} | Total Min Of Outages : {{dashboardTable.total_mins_outrages}}
                <button mat-button class="btn btn-success" matTooltip="Download Report"
                [matTooltipPosition]="'below'" (click)="results()" style="float: right;padding: 3px 10px 2px 10px;">
                <i class="material-icons">cloud_download</i>
            </button>
              </h4>
            </div>
                <div class="example-container mat-elevation-z8" style="margin-top: 20px;" *ngIf="devicesByOutageataResp">
                    <table mat-table [dataSource]="devicesByOutageataResp" multiTemplateDataRows class="table table-striped">
                      <ng-container *ngFor="let column of displayedColumns">
          
                        <ng-container *ngIf="column !== 'Status'">
                          <ng-container [matColumnDef]="column" [sticky]="isSticky(column)">
                            <th class="tableHeader" mat-header-cell *matHeaderCellDef style="word-wrap: none !important;">
                              {{column}}</th>
                            <td class="tableBody" mat-cell *matCellDef="let element" >
                             
                              <ng-container *ngIf="element[column] !== undefined">
                                {{element[column]}}
                              </ng-container>
                              <ng-container *ngIf="element[column]== undefined">
                                --
                              </ng-container></td>
                          </ng-container>
                          
                        </ng-container>

                        <ng-container *ngIf="column == 'Status'">
                            <ng-container [matColumnDef]="column" [sticky]="isSticky(column)">
                              <th class="tableHeader" mat-header-cell *matHeaderCellDef
                                style="word-wrap: none !important;">
                                {{column}}
                              </th>
                              <td class="tableBody" mat-cell *matCellDef="let element">
                                <span *ngIf="element[column] == 0" class="status-ok"></span>
                                <span *ngIf="element[column] == 1" class="status-notok"></span>
                              </td>
                            </ng-container>
                          </ng-container>
          
                      
          
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="this.displayedColumns;"></tr>
                      <!-- <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElementWashroom === element" matTooltip="Details"
                        matTooltipPosition="below" style="cursor: pointer;" (click)="expandWashroomRow(element)"> -->
                      <!-- </tr> -->
                      <tr mat-row *matRowDef="let row; columns: displayedColumns">
                      </tr>
                    </table>
                    <mat-paginator *ngIf="devicesByOutageataResp.page$ | async as page" [length]="page.totalElements" [pageSize]="page.size"
                    [pageIndex]="page.number" [hidePageSize]="false" (page)="devicesByOutageataResp.fetch($event.pageIndex)"
                    style="width: 100%;">
                  </mat-paginator>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>