.noData {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 34px;
}

.tableBody {
    font-size: 12px;
    text-align: center;
}

.cdk-column-Date {
    left: 0px !important;
}

.cdk-column-Device {
    left: 0px !important;
}

.cdk-column-Location {
    left: 0px !important;
}

.cdk-column-Alert-Log {
    left: 0px !important;
    word-wrap: break-word;
    
}

.cdk-column-Status {
    left: 0px !important;
}
.mat-table-sticky {
    background: #eee;
    opacity: 1;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  .example-container {
    height: 400px;
   
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  table.table-border td, table.table-border th {
    border: 1px solid ;
    text-align: center;
    padding: 8px;
  }
  
  .coulumnData{
    text-align: center;
    font-size: 13px;
  }
  
  .tableHeader {
    text-align: center;
    color: #00bcd4 !important;
    font-size: 14px;
  }

  
.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
}


.borderTh{
    border-left: 1px solid lightgray;
    font-size: 12px;
    padding: 10px;
}

.summaryTrbg{
    background-color: #ededed;
}

.electricalHeader{
    margin-top: 10px;
    text-align: center ;
    font-weight: 400;
    font-size: 15px;
}

.tableCard{
    padding: 8px;
    vertical-align: top;
}

.cardSummaryShadow {
    box-shadow: 5px 5px 4px 0 rgb(0 0 0 / 14%);
}
button.mat-focus-indicator.btn.btn-success.custbtn1.mat-button.mat-button-base {
    padding: 7px 8px;
    max-width: 35px !important;
    margin-left: 85px !important;
    margin-bottom: -4px !important;
  }
.textSize{
    font-size: 12px;
}

.buttonStyle {
    font-size: 13px;
    padding: 5px 2px 2px 2px;
    border: none;
    background: #fff !important; 
    color: #b1b3b6;
    padding: none;
}

.cardColor{
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.cardData {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.cardDataOpt {
  color: black;
  
}

.detailsButton {
    background-color: transparent;
    border: none;
    float: right;
    font-size: 12px;
}

.example-container {
    /* height: 400px; */
    height: auto;
    width: 100%px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  .status-ok {
    background-color: #3bb54a;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    margin-left: -10px;
    margin-top: -5px;
  }
  
  .status-notok {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    margin-left: -10px;
    margin-top: -5px;
  }


  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }

  .selected {
    color: blue;
  }

  .a_mod::after {
    content: "";
  }



