<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add New User</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="assetsAddForm">

                            <!--Row one start-->
                            <div class=" row form-group">
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="standard">
                                        <mat-label>
                                            Asset Id 
                                        </mat-label>
                                        <input type="text" matInput name="asset_id" formControlName="asset_id" placeholder="Asset Id">
                                        <mat-error *ngIf="hasError('asset_id', 'required')">Asset Id is required</mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>
                                           Beacon Id 
                                        </mat-label>
                                        <input type="text" matInput name="beacon_id" formControlName="beacon_id" placeholder="Beacon Id">
                                        <mat-error *ngIf="hasError('beacon_id', 'required')">Beacon Id is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--One end-->

                            <!--Second Row start-->
                            <div class=" row form-group">
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>
                                            Asset Type
                                        </mat-label>
                                        <input type="text" matInput name="asset_type" formControlName="asset_type" placeholder="Asset Type">
                                        <mat-error *ngIf="hasError('asset_type', 'required')">Asset Type is Required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>
                                            Volume 
                                        </mat-label>
                                        <input type="text" matInput name="volume" formControlName="volume" placeholder="Volume">
                                        <mat-error *ngIf="hasError('volume', 'required')">Volume is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <!---third row-->

                            <div class=" row form-group">
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>
                                           Capacit of Asset
                                        </mat-label>
                                        <input type="text" matInput name="capacity_asset" formControlName="capacity_asset" placeholder="Capacity of Asset"> Unit
                                        <mat-error *ngIf="hasError('capacity_asset', 'required')">Capacity of Asset is Required</mat-error>
                                    </mat-form-field>
                                </div>
                             
                            </div>

                            <!------4th row-->
                            <div class=" row form-group">
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>
                                          Weight
                                        </mat-label>
                                        <input type="text" matInput name="weight" formControlName="weight" placeholder="Weight"> Unit
                                        <mat-error *ngIf="hasError('weight', 'required')">Weight is Required</mat-error>
                                    </mat-form-field>
                                </div>
                             
                            </div>

                              <!-- <mat-form-field appearance="outline">
                                <mat-label>Channel Partner</mat-label>
                                <mat-select [formControl]="channels"  multiple>
                                  <mat-option *ngFor="let clist of channelist" [value]="clist">
                                    {{clist.name}}
                                  </mat-option>
                                </mat-select>

                              </mat-form-field> -->

                            <!--Button start-->
                            <div class="row" style="align-content: center;">
                                <div class="col-md-3" style="display: grid;">
                                    <button type="submit"  class="btn btn-primary" (click)="onSubmit()">
                                        Save
                                    </button>
                                </div>
                                <div class="col-md-3" style="display: grid;">
                                    <button class="btn btn-danger" mat-button [mat-dialog-close]="true">Cancel</button>
                                </div>
                            </div>
                          
                            
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>
</mat-dialog-content>