<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <button  [mat-dialog-close]="true" style="
            float: right;background-color: transparent; border: none;">
                <span class="material-icons" style="color: #f44336;">
                    cancel
                    </span>
            </button>
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <h5 class="card-title text-center">Daily</h5>

                </div>

                <div class="chart-container" style="position: relative; ">

                    <canvas id="canvasLine">{{ dailyLineChartObj }}</canvas>

                </div>
<!-- 
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Updated {{currentTempratureDate|dateAgo}}
                    </div>

                </div> -->

            </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>