<ng-template #arrow_view>
    <mat-button-toggle-group (change)="appointmentData.sortBy({ order: $event.value })">
        <mat-button-toggle value="asc" matTooltip="Ascending" matTooltipPosition="right" style="width: 34px; border: 0px">
            <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="desc" matTooltip="Descending" matTooltipPosition="left" style="width: 34px; border: 0px">
            <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</ng-template>

<div>
    <div class="container-fluid">
        <div>
            <!------------DATE-------------->
            <!-- <div class="row">
          <div class="col-md-12">
            <button mat-button class="btn btn-success" style="float: right;padding: 8px;">
              <i class="material-icons" style="font-size: 23px" (click)="prev()">navigate_before</i>
              <input [hidden]="true" matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)"
                [min]="minDate" [max]="maxDate" (dateChange)="addEvent('change', $event)" />
              <mat-datepicker touchUi #picker></mat-datepicker>
  
              <span (click)="picker.open()">
                {{ today | date }}
              </span>
  
              <i class="material-icons" *ngIf="this.isButtonVisible" (click)="next()"
                style="font-size: 23px">navigate_next</i>
            </button>
          </div>
  
        </div> -->
            <!-------------------------------->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <!-- <div class="card-body">  -->
                        <div>
                            <div class="card-header card-header-danger" style="padding: 10px">
                                <h4 class="card-title">Change Appointment</h4>
                            </div>
                            <!--------------table-------------------->
                            <div class="card-body">
                                <div class="row" style="margin: 0px">
                                    <div class="col-md-12">
                                        <form [formGroup]="rescheduleForm">
                                            <!--Row one start-->
                                            <div class="row form-group">
                                                <div class="col-md-4 form-group"></div>
                                                <div class="col-md-4 form-group">
                                                    <mat-form-field appearance="standard">
                                                        <mat-label>
                                                            Enter registered Email Id/ Phone No.
                                                        </mat-label>
                                                        <input type="text" matInput name="search_key" formControlName="search_key" placeholder="Enter Phone no. / Email Id" />
                                                        <mat-error *ngIf="hasError('search_key', 'required')">
                                                            Phone no. / Email Id is required</mat-error>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-4 form-group"></div>
                                            </div>
                                            <!--One end-->

                                            <!---third row-->

                                            <!--Button start-->
                                            <div class="row" style="align-content: center">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-4" style="display: grid">
                                                    <button type="submit" class="btn btn-primary" [disabled]="!rescheduleForm.valid" (click)="getAppointmentsBySearchKey()">
                            Submit
                          </button>
                                                </div>

                                                <div class="col-md-4"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-----------table------------->
            <div class="row" *ngIf="isShowTable">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <!-- <div class="card-body">  -->

                        <div class="card-header card-header-danger" style="padding: 10px">
                            <h4 class="card-title">Change Appointment List</h4>
                        </div>
                        <!--------------table-------------------->
                        <div class="card-body">
                            <div class="row" style="margin: 0px">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field class="search">
                                                <mat-icon matPrefix>search</mat-icon>
                                                <input #in (input)="
                            appointmentData.queryBy({ search: in.value })
                          " type="text" matInput placeholder="Search" />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div></div>
                                    <mat-spinner *ngIf="appointmentData.loading$ | async" diameter="32" style="align-self: center"></mat-spinner>

                                    <div class="example-container mat-elevation-z8" *ngIf="appointmentData">
                                        <table mat-table [dataSource]="appointmentData" class="table table-striped">
                                            <ng-container matColumnDef="sr_no">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader" style="padding: 2px">
                                                    Sr No.
                                                </th>
                                                <td mat-cell *matCellDef="let element; let i = index" class="tableBody" style="padding: 2px">
                                                    {{ i + 1 }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="site_name">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Site Name
                                                    <span (click)="
                              appointmentData.sortBy({
                                property: 'site_name'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.appointments.site_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="tax_preparer_name">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Preparer Name
                                                    <span (click)="
                              appointmentData.sortBy({
                                property: 'tax_preparer_name'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.appointments.preparer_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="meeting_type_name">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Meeting Type
                                                    <span (click)="
                              appointmentData.sortBy({
                                property: 'meeting_type_name'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.meeting_type_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="client_type_name">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Client Name
                                                    <span (click)="
                              appointmentData.sortBy({
                                property: 'client_type_name'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.client_type_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="appointment_date">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Appointment Date
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.appointment_date }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="time_interval">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Time Interval
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.time_interval }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="appointment_start_time">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Appointment Time
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.appointment_start_time }} - {{ element.appointment_end_time }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="client_email">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Email
                                                    <span (click)="
                              appointmentData.sortBy({
                                property: 'client_email'
                              })
                            ">
                            <ng-container *ngTemplateOutlet="arrow_view">
                            </ng-container>
                          </span>
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.client_email }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="client_name">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Name
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.client_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="client_phone_no">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Phone No.
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.client_phone_no }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="client_address">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Address
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.client_address }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="zip_code">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Zip Code
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.zip_code }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="created_date">
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Added On
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="tableBody">
                                                    {{ element.created_date }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="action" stickyEnd>
                                                <th mat-header-cell *matHeaderCellDef class="tableHeader">
                                                    Action
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="action-link tableBody">
                                                    <a (click)="
                              openDialog(
                                'edit_appointment',
                                element,
                                element.appointment_id
                              )
                            " matTooltip="Edit" [matTooltipPosition]="'below'">
                                                        <span class="material-icons" style="color: darkcyan">
                              edit
                            </span>
                                                    </a>
                                                    <a (click)="
                              openDialog(
                                'delete_appointment',
                                element,
                                element.appointment_id
                              )
                            " matTooltip="Delete" [matTooltipPosition]="'below'">
                                                        <span class="material-icons" style="color: brown">
                              delete
                            </span>
                                                    </a>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                        </table>

                                        <mat-paginator *ngIf="appointmentData.page$ | async as page" [length]="page.totalElements" [pageSize]="page.size" [pageIndex]="page.number" [hidePageSize]="false" (page)="appointmentData.fetch($event.pageIndex)">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------modal--------------------------->
<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 35px">
            <h4 style="margin: 0 auto; font-size: 18px; text-align: center">
                Do you want to Delete it ?
            </h4>
            <div style="padding: 9px"></div>
            <div class="form-group" style="margin: 0 auto">
                <div style="margin-top: 25px">
                    <button mat-raised-button type="submit" class="btn btn-success pull-center cancel-btn" data-dismiss="modal">
            Yes
          </button>
                    <button mat-raised-button type="submit" data-dismiss="modal" class="btn btn-danger pull-center cancel-btn">
            No
          </button>
                </div>
            </div>
        </div>
    </div>
</div>