<block-ui [template]="blockTemplate">
    <div class="container-fluid">
        <mat-dialog-actions align="end" *ngIf="!showPopup">
            <button mat-mini-fab mat-dialog-close style="float: right">
        <mat-icon>close</mat-icon>
      </button>
        </mat-dialog-actions>
        <mat-card-header *ngIf="!showPopup">
            <h5>Schedule Appointment : {{ selected_date | date: "MMM dd,yyyy" }}</h5>
            <mat-card-title>{{ moduleTitle }}</mat-card-title>
        </mat-card-header>

        <mat-dialog-content class="mat-typography">
            <div *ngIf="showPopup">
                <div class="row" style="text-align: center">
                    <h3>
                        The citizen is rescheduling for the {{ rescheduleCount }} time.
                        <br /> The citizen has {{ remainingCount }} more attempts left to re-schedule the appointment
                    </h3>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align: center; display: grid">
                        <button type="submit" class="btn btn-primary" (click)="proceed()">
              Proceed
            </button>
                    </div>
                </div>
            </div>
            <div class="container-fluid" *ngIf="!showPopup">
                <form [formGroup]="appointmentFormGroup" autocomplete="false">
                    <div class="row">
                        <div class="col-md-12" style="padding-right: 0px; padding-left: 0px">
                            <div class="card request-info" style="
                  padding: 0px;
                  padding-right: 0px;
                  margin-top: 16px;
                  margin-bottom: 0px;
                  border-radius: 8px 8px 0px 0px;
                ">
                                <div class="card-header" style="
                    margin-left: -1px;
                    margin-right: -1px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    border-radius: 8px 8px 0px 0px;
                    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0),
                      0 0px 0px 0px #81d8c9;
                    background: #81d8c9;
                  ">
                                    <h4 class="card-title text pointer" (click)="open_field('client_name')">
                                        {{ "Schedule Appointment" }}
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="
                margin-top: 0px;
                margin-bottom: 30px;
                border-radius: 0px 0px 8px 8px;
              ">
                            <div class="col-md-12" *ngIf="is_center_title_form_view">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Site</mat-label>
                                        <mat-select name="site_id" formControlName="site_id">
                                            <mat-option *ngFor="let site of siteList" [value]="site.site_id">
                                                {{ site.site_name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="hasError('site_id', 'required')">Please select site</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <button mat-icon-button aria-label="Add" color="primary" (click)="open_field('client_name')">
                    <mat-icon aria-hidden="false" aria-label="Add"
                      >check</mat-icon
                    >
                  </button>
                                    <button mat-icon-button aria-label="Close" color="warn" (click)="open_field('client_name')">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Close"
                      (click)="open_field('event_title')"
                      >close</mat-icon
                    >
                  </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Client Type</mat-label>
                                        <mat-select name="client_type" formControlName="client_type">
                                            <mat-option *ngFor="let citizenType of citizenTypeList" [value]="citizenType.id"
                                            (onSelectionChange)="selectCitizen(citizenType.name,$event)">
                                                {{ citizenType.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="hasError('client_type', 'required')">Please select Client Type</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Meeting Type</mat-label>
                                        <mat-select name="meeting_type" formControlName="meeting_type">
                                            <mat-option *ngFor="let event of eventTypeList" [value]="event.event_id">
                                                {{ event.event_name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="hasError('meeting_type', 'required')">Please select meeting type</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tax Type</mat-label>
                                        <mat-select name="tax_type" formControlName="tax_type">
                                            <mat-option *ngFor="let taxType of taxTypeList" [value]="taxType.id" (onSelectionChange)="selectTaxType($event, taxType.id)">
                                                {{ taxType.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="hasError('tax_type', 'required')">Please select Tax Type</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Site</mat-label>
                                        <mat-select name="site_id" formControlName="site_id">
                                            <mat-option *ngFor="let site of siteList" [value]="site.site_id" (onSelectionChange)="selectCenter($event, site.site_id)">
                                                {{ site.site_name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="hasError('site_id', 'required')">Please select site</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tax Preparer</mat-label>
                                        <mat-select name="tax_preparer_id" formControlName="tax_preparer_id">
                                            <mat-option *ngFor="let taxPreparer of taxpreparerList" [value]="taxPreparer.preparer_id" (onSelectionChange)="
                          selectTaxPrepare($event, taxPreparer.preparer_id)
                        ">
                                                {{ taxPreparer.preparer_name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="hasError('tax_preparer_id', 'required')">Please select Tax Prepare</mat-error>
                                    </mat-form-field>
                                </div>

                                

                               
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width">
                                        <mat-label> Client Name </mat-label>
                                        <input type="text" matInput name="client_name" formControlName="client_name" placeholder="Client Name" />
                                        <mat-error *ngIf="hasError('client_name', 'required')">Client Name is required</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label> Client Email </mat-label>
                                        <input type="text" matInput name="client_email" formControlName="client_email" placeholder="Client Email" />
                                        <mat-error *ngIf="hasError('client_email', 'required')">Client Email is required</mat-error>
                                    </mat-form-field>
                                </div>
                              
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label> Client Phone Number </mat-label>
                                        <input type="text" matInput name="client_phone_no" formControlName="client_phone_no" placeholder="Client Phone Number" />
                                        <mat-error *ngIf="hasError('client_phone_no', 'required')">Client Phone Number is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" style="align-self: center">
                                    <mat-radio-group aria-label="Select an option" formControlName="is_landline">
                                        <mat-radio-button value="0" (change)="select_phone_type('0')">Mobile</mat-radio-button>
                                        <mat-radio-button value="1" (change)="select_phone_type('1')">Landline</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                    <mat-form-field appearance="standard">
                                        <mat-label> Client Address </mat-label>
                                        <input type="text" matInput name="client_address" formControlName="client_address" placeholder="Client Address" />
                                        <mat-error *ngIf="hasError('client_address', 'required')">Client Address</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label> Zip Code </mat-label>
                                        <input type="text" matInput name="zip_code" formControlName="zip_code" placeholder="Client Email" />
                                        <mat-error *ngIf="hasError('zip_code', 'required')">Zip Code</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <span style="align-items: center; display: flex; margin: 4px" (click)="open_field('event_date_range')" class="pointer">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Example home icon"
                      color="primary"
                      >event</mat-icon
                    >
                    {{
                      selected_date != undefined
                        ? (selected_date | date: "MMM dd,yyyy")
                        : " Please select date and time"
                    }}
                  </span>
                                </div>
                                <div class="col-md-4">
                                    <span style="align-items: center; display: flex; margin: 4px" (click)="open_field('event_date_range')" class="pointer">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Example home icon"
                      color="primary"
                      (click)="open_field('event_date_range')"
                      >schedule</mat-icon
                    >
                    {{
                      selected_date != undefined
                        ? (selected_date | date: "hh:mm a")
                        : " Please select date and time"
                    }}
                    {{
                      end_date_time != undefined
                        ? "- " + (end_date_time | date: "hh:mm a")
                        : ""
                    }}
                  </span>
                                </div>
                                <div class="col-md-2">
                                    <span style="align-items: center; display: flex; margin: 4px">
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                      >query_builder
                    </mat-icon>

                    {{ interval != undefined ? " " + interval : "" }}
                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12" *ngIf="is_event_date_range_form_view">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-6 form-group">
                                <mat-form-field>
                                    <mat-label>Start date</mat-label>
                                    <input matInput [matDatepicker]="start_date" [min]="calendar_start_date" formControlName="appointment_date" name="start_date" (ngModelChange)="
                      modelChangeFn($event, 'event_start_date_range')
                    " />
                                    <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                                    <mat-datepicker #start_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 col-sm-6 col-6 form-group">
                                <mat-form-field>
                                    <mat-label>Start time</mat-label>
                                    <input matInput type="time" name="start_time" formControlName="appointment_start_time" id="start_time" (ngModelChange)="
                      modelChangeFn($event, 'event_start_time_range')
                    " />
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <button mat-icon-button aria-label="Add" color="primary" (click)="open_field('event_date_range')">
                  <mat-icon aria-hidden="false" aria-label="Add"
                    >check</mat-icon
                  >
                </button>
                                <button mat-icon-button aria-label="Close" color="warn" (click)="open_field('event_date_range')">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Close"
                    (click)="open_field('event_date_range')"
                    >close</mat-icon
                  >
                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-content: center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center" style="display: grid">
                            <button type="submit" class="btn btn-primary" (click)="addUpdateForm()">
                Schedule Appointment
              </button>
                        </div>
                        <div class="col-md-4" style="display: grid">
                            <!-- <button
                      class="btn btn-danger"
                      mat-button
                      (click)="back()"
                    >
                      Close
                    </button> -->
                        </div>
                    </div>
                </form>
            </div>
        </mat-dialog-content>
    </div>
</block-ui>