.logo1 {
    height: 65px;
    margin-top: 10px;
}
.row {
    margin: 12px 0px 0px 0px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #205BF6;
    font-size: 15px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: #205BF6;
    color: black;
    font-size: 15px;
  }
  
  .topnav a.active {
    background-color: #205BF6;
    color: white;
  }