<div class="topnav">
    <a style="background-color: #2E395A33;    padding: 21px 16px;">                        
    <img src="assets/img/Path_73.png" style="height: 35px;">

    </a>
    <a class="active" href="#home">
        <i class="material-icons">dashboard</i><br>
        Dashboard</a>
    <a href="#news">
        <i class="material-icons">schedule</i><br>
         MIS</a>
    <a href="#contact">
        <i class="material-icons">schedule</i><br>PMS</a>
    <a href="#about">
        <i class="material-icons">account_balance</i><br>LOS</a>
    <a href="#about">
        <i class="material-icons">dashboard</i><br>Awareness Calling</a>
    <a href="#about">
        <i class="material-icons">smartphone</i><br>Users</a>
        <a href="#about">
            <i class="material-icons">people</i><br>Users</a>
    <a href="#about">
        <i class="material-icons">perm_media</i><br>Master</a>
    <a href="#about">
        <i class="material-icons">signal_cellular_alt</i><br>Report</a>

        

        <a href="#about" style="float: right;">
            <i class="material-icons"  style=" font-size: 28px">more_vert</i><br></a>

            <a href="#about" style="float: right;">
                <img src="assets/img/Ellipse 1.png" style="height: 35px;">
                <br></a>

            <a href="#about" style="float: right;">
                <i class="material-icons" style=" font-size: 28px">notification_add</i><br></a>
  </div>

  <div class="row">
<p style="margin-left: 22px;">MIS</p>
<i class="material-icons">navigate_next</i>
<p style="color: #205BF6;">Web MIS</p>
  </div>

  <div class="row">
    <div class="col-md-12">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="font-weight: 400;border-radius: 15px;">
            <mat-button-toggle value="bold" style="background-color: white;color: #205BF6;">Summary</mat-button-toggle>
            <mat-button-toggle value="underline" style="background-color: #205BF6;color: white;">Case By Case</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
  </div>